# build directory 
/build

# model_weights directories (general pattern)
**/model_weights/
*/model_weights/

#plots
**/plots/
*/plots/
/py/tileFuse_figs/results/benchmark_*.txt
/py/heteroMosaic_figs/results/benchmark_*.txt

# environment
/util/rocmPytorch

# python bytecode/cache artifacts
__pycache__/
**/__pycache__/
*.pyc
.cache/

# Locally downloaded Ubuntu kernel packages
/utils/kernel_6.11.0-26/*.deb
